extends ../layouts/default

block content
  .columns
    .column
      h1 About me
      h2 Severin Fürbringer
      h3 Tl;dr
      ul
        li Web Developer 
          sup
            a(href="https://github.com/fuerbringer" target="_blank") (?)
        li Still going to school from time to time
        li Supporter of Free Software and 
          span(title="or Supporter as it's now called") FSFE Fellow
          sup 
            a(href="https://fsfe.org" target="_blank") (1)
          span &nbsp;
          sup
            a(href="https://gnu.org" target="_blank") (2)
        li Media I like: 
          a(href="https://en.wikipedia.org/wiki/Serial_Experiments_Lain" target="_blank" title="Serial Experiments Lain") 1.
          span &nbsp;
          a(href="https://en.wikipedia.org/wiki/Kino%27s_Journey" target="_blank" title="Kino No Tabi") 2.
          span &nbsp;
          a(href="https://en.wikipedia.org/wiki/Lost_in_Translation_(film)" target="_blank" title="Lost In Translation") 3.
        li Currently residing somewhere in Zürich, CH
        
      h3 What's with the barebones design?
      p I believe in websites which are concise, to the point and do not require large amounts of Javascript to carry out their task. In fact this website can easily be read in terminal based browsers such as lynx or w3m.
      h3 You will not find me on
      ul
        li Facebook 
          sup
            a(href="https://stallman.org/facebook.html", target="_blank") (?)
        li Instagram 
          sup
            a(href="https://stallman.org/facebook.html", target="_blank") (?)
        li Snapchat
        li Twitter 
          sup
            a(href="https://stallman.org/twitter.html", target="_blank") (?)
        li et cetera (You get the idea)
      h3 Contact me
      p If you want to talk to me, click 
        a(href="/contact") here
        | .
    .column
      img.img-responsive(src="images/lit.jpg" alt="Image inspired by Lost In Translation" title="Not me, Lost In Translation is a great movie, though.")
