extends ../layouts/default

block content
	.container
		.row
			.col-sm-6
				h1 About me
				h2 Severin Fürbringer
				h3 TL;DR
				ul
					li Back end programmer 
						sup
							a(href="https://github.com/fuerbringer" target="_blank") (?)
					li Freetard 
						sup
							a(href="https://gnu.org" target="_blank") (1)
						sup 
							a(href="https://fsf.org" target="_blank") (2)
					li Borderline NEET
					li Animu fan
					
				h3 Contact me
				p If you want to talk to me, click 
					a(href="/contact") here.
					
				h3 You will NOT find me on
				ul
					li Facebook 
						sup
							a(href="https://stallman.org/facebook.html", target="_blank") (?)
					li Instagram 
						sup
							a(href="https://stallman.org/facebook.html", target="_blank") (?)
					li Snapchat
					li Twitter 
						sup
							a(href="https://stallman.org/twitter.html", target="_blank") (?)
					li etc. (You get the idea)
			.col-sm-6
				img.img-responsive(src="images/cyber_city.jpg" alt="Cyberpunk city" title="Cyb city")
