extends ../layouts/default

block content
  .columns
    .column
      h1 Hello
  .columns
    .column
      p I don't have many (public) online presences, but here's just a few:
      .columns
        .column
          a(href="https://github.com/fuerbringer" title="Fuerbringer on GitHub" target="_blank")
            img.image(src="images/github_logo.png")
        .column
          a(href="https://gitlab.com/fuerbringer" title="Fuerbringer on GitLab" target="_blank")
            img.image(src="images/gitlab_logo.png")
        .column
          a(href="https://keybase.io/fuerbringer" title="My cryptographic keys" target="_blank")
            img.image(src="images/keybase_logo.png")
        .column
          a(href="https://bandcamp.com/severin_ch" title="Some tunes I like" target="_blank")
            img.image(src="images/bandcamp_logo.png")
    .column
      if data.posts
        h2 Latest blog posts
        each post in data.posts
          article
            h3 
              a(href="/blog/post/" + post.slug) #{post.title}
            p !{post.content.brief.html}
        
        br
        a(href="/blog") List all posts...
