extends ../layouts/default

block content
	.container: .jumbotron
		.row
			.col-sm-9
				h1 Welcome
				p.
					Welcome to my wannabe cyberpunk personal page.
					In the future I want to use this page to post interesting guides
					and blog posts on technology I use daily.
				a(href="https://lainchan.org" target="_blank")
					img(src="/images/powered_by_soykaf.png" alt="soykafty image")
			.col-sm-3
				a(href="/images/cyberwojak.jpg" target="_blank" title="Cyberwojak")
					img.img-responsive(src='/images/cyberwojak_left.png')
