extends ../layouts/default

block content
  h1 Hello
  if data.posts
    h2 Latest blog posts
    each post in data.posts
      article
        h3 
          a(href="/blog/post/" + post.slug) #{post.title}
        p !{post.content.brief.html}
    
    br
    a(href="/blog") List all posts...
