extends ../layouts/default

block content
  .columns
    .column
      h1 Now what?
      p A 
        a(href="http://nownownow.com/about" target="_blank") Now page
        |  highlights what a person is currently focusing on at this point in their life.
      h2 Now
      p Here's a couple key points which are keeping me busy throughout the months:
      ul
        li Working as a web developer apprentice/intern at a small web agency.
        li Building an online portfolio. Mainly GitHub and of course the site you're on right now.
        li Helping 
          span(title="Libre Software") Free Software
          |  projects on 
          a(href="https://github.com/fuerbringer" target="_blank") GitHub
          |  as much as I can (including my own).
        li Here's a couple projects I'm trying to help with:
          ul
            li: a(href="https://github.com/PROGRADE-Tech/Tarchivebot" target="_blank") PROGRADE-Tech/Tarchivebot
            li: a(href="https://github.com/tldr-pages/tldr" target="_blank") tldr-pages/tldr
            li: a(href="https://github.com/fuerbringer/searxbot" target="_blank") fuerbringer/searxbot
            li: a(href="https://github.com/fuerbringer/tldr-telegram" target="_blank") fuerbringer/tldr-telegram
      h2 Future
      p A few long term goals I'm working towards.
      ul
        li Expand my web development knowledge beyond PHP/MySQL
        li Study computer science.
        li Learn electrical engineering basics.
  .columns
    .column
      img.img-responsive(src="images/cyber_city.jpg" alt="Cyberpunk city" title="Cyb city")
