extends ../layouts/default

block content
	.container
		.row
			.col-sm-12.col-md-6
				h1 Now what?
				p A 
					a(href="http://nownownow.com/about" target="_blank") Now page
					|  highlights what a person is currently focusing on at this point in their life.
				h2 Me, now
				p Here's a couple key points which are keeping me busy throughout the months:
				ul
					li Working as a web developer apprentice/intern at a small web agency.
					li Going to IT school once a week.
					li Building an online portfolio. Mainly GitHub and of course the site you're on right now.
					li Helping Free and Open Source projects on 
						a(href="https://github.com/fuerbringer" target="_blank") GitHub
						|  as much as I can (including my own).
					li Here's a couple projects I'm trying to help with:
						ul
							li
								a(href="https://github.com/PROGRADE-Tech/Tarchivebot" target="_blank") PROGRADE-Tech/Tarchivebot
							li
								a(href="https://github.com/tldr-pages/tldr" target="_blank") tldr-pages/tldr
							li
								a(href="https://github.com/fuerbringer/searxbot" target="_blank") fuerbringer/searxbot
							li
								a(href="https://github.com/fuerbringer/fuerbringer.info" target="_blank") fuerbringer/fuerbringer.info
				h2 Me, in the future
				p A few things which I'm going to be working towards once I finish school:
				ul
					li Find a sustainable full time web dev job and move out.
					li Expand my web dev knowledge beyond PHP/MySQL.
			.col-sm-12.col-md-6
				img.img-responsive(src=config.contentCdnUrl+"images/cyber_city.jpg" alt="Cyberpunk city" title="Cyb city")
