h1 About me
p Hello, I'm programmer from Zürich, CH who likes to study computer science and topics related to it. I used to work at a small web agency where I had the opportunity to learn alot and be a part of a development team.
p Related to my interests in CS I'm also a proponent of 
  a(href="https://www.gnu.org/philosophy/free-sw.html") Free/Libre Software 
  | and a 
  a(href="https://fsfe.org/") FSFE Supporter
  | .
h2 How I do my computing
p I use 
  a(href="https://nixos.org/" target="_blank") NixOS
  |  as my main operating system. Its declarative nature initially blew my mind. Every Unix user ought to dig into its ideas and try it out. I promise it'll at least leave you intrigued! You can find my NixOS configs 
  a(href="https://github.com/fuerbringer/nixfiles" target="_blank") here
  |  and Dotfiles 
  a(href="https://github.com/fuerbringer/unixfiles" target="_blank") here
  | . You can pretty much extract every computing aspect I make use of from these two repositories, which illustrates the beauty of declarativeness, at least in the context of operating systems.
h3 Text
p Something I'm particularly fond of is pure text. Given the opportunity I prefer to make notes in Emacs 
  a(href="https://orgmode.org/" target="_blank" title="Emacs Org-Mode") org-mode
  | , Pug/Jade or Markdown. Don't worry though, I like Vim too! This allows for direct translation into 
  a(href="https://pandoc.org/diagram.jpg" target="_blank" title="File formats supported by Pandoc") countless formats
  | , particularly ones supported by 
  a(href="https://pandoc.org/" target="_blank") Pandoc
  | .
h2 Social Media
p I'm not on social media. While I understand some of the reasons as to why one would use those sites, they just aren't compatible with my workflows when "connecting" with people. As with most feed based sites they usually waste too much time. Then there's the heaps of privacy issues and ethical implications as Dr. Richard Stallman thoroughly describes  
  a(href="https://stallman.org/facebook.html" target="_blank") here
  |.
