h1 About me
p Hello, I'm programmer from Zürich, CH who likes to study topics related to computer science. I used to work at a small web agency where I had the opportunity to learn alot and be a part of a web development team.
p Related to my interests in CS I'm also a proponent of 
  a(href="https://www.gnu.org/philosophy/free-sw.html") Free/Libre Software 
  | and a 
  a(href="https://fsfe.org") FSFE Supporter
  | .
h2 Social Media
p I'm not on social media. While I understand some of the reasons as to why one would use those sites, they just do not suit my workflows to "connect" with people. As with most feed based sites they usually waste too much time. Then there's the heaps of privacy implications as Dr. Stallman thoroughly describes  
  a(href="https://stallman.org/facebook.html" target="_blank") here
  |.
