h1 Say hello
p I can be contacted through email or Keybase.
h2 Email
p Send a mail at
  em my first name 
  | at
  em FQDN of the FSFE
  | . Use my
  a(href="/public/static/gpg.txt") GPG public key
  | if you can.
h2 Keybase
p I'm on Keybase. You can find my profile under
  a(href="https://keybase.io/fuerbringer") keybase.io/fuerbringer
  | .