h1 Welcome
p Hello. I'm a programmer who likes to study and has an interest in computer science related topics. I also write software, mainly chat bots and web applications, which I find to be useful 
  i sometimes.
