h1 Now 
  sup: a(href="https://nownownow.com/about" title="Read more about /now pages." target="_blank") (?)
p I'm currently back in school.
h2 Learning
p There's always some interesting tools and frameworks I'm looking to get familiar with. Among those are currently:
ul
  li LaTeX typesetting
  li A (purely) functional programming language
h2 Other
p I occasionally do some work on some projects on GitHub. And who knows, maybe one day I'll get around to actually reading 
  a(href="https://sarabander.github.io/sicp/html/index.xhtml" target="_blank") SICP
  | .

