h1 Now 
  sup: a(href="https://nownownow.com/about" title="Read more about /now pages." target="_blank") (?)
h2 In school
p I'm back in school. Currently pursuing the Federal Vocational Baccalaureate in Zürich.
h3 Other
p TODO

