@font-face {
  font-family: "Heading";
  src: url("@{content-cdn-url}/fonts/tiny.ttf");
}

@font-face {
  font-family: "Default";
  src: url("@{content-cdn-url}/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Default-Pixel";
  src: url("@{content-cdn-url}/fonts/pixeloperator.ttf");
}
