$header-bg: #eee;
$dark-bg: #312c32;
$white-bg: #fff;
$text-white: #fff;

html {
  background-color: $dark-bg;
}

body {
  font-family: "gentium", "Times New Roman", serif;
  background-color: $white-bg;

  img {
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
  }

  header {
    background-color: $header-bg;
    font-family: "gentium bold", "Times New Roman", serif;

    .tabs {
      ul {
        li:first-child {
          a {
            padding-left: 0;
            margin-left: 0;
          }
        }
        li {
          a {
            padding-left: 0;
            padding-right: 0;
            margin-left: 16px;
            margin-right: 16px;
          }
        }
      }
    }
  }
  footer {
    section {
      background-color: $dark-bg;
      color: $header-bg;
      a, a:link, a:visited, a:hover {
        color: $header-bg;
      }
    }
  }
  section.section.is-small {
    padding-top: 0;
  }
}
