body {
  font-family: "gentium", "Times New Roman", serif;
  header {
    a.brand {
      font-family: "gentium bold", "Times New Roman", serif;
      font-size: 36px;
      text-decoration: none;
      padding: 4px 6px 3px 6px;
      background-color: #312c32;
      color: #fff;
    }
  }
}
