// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@content-cdn-url: 'https://d3rpekymw8pzqd.cloudfront.net/';

@navbar-font: "Heading";
@main-font: "Default";
@main-txt: #eeeeee;
@main-border: #666666;
@main-link: #70c186;
@main-bg: #333333;
@global-bg: #0b000f;

